.App {
  text-align: center;
  width:1000;
}

.container{
  display:flex;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-Body-Vehicle{
position:fixed;
width:300px;
height: 300px;
 overflow: scroll;
}

.App-Body-Reading{
position:fixed;
width:700px;
height: 300px;
 overflow: scroll;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
